
@{
    ViewBag.Title = "Mở email xác nhận đổi mật khẩu";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>Gửi link đổi hoặc lấy lại mật khẩu đến email của bạn thành công, xin vui lòng kiểm tra email của bạn.</h2>



