
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div id="wrapper">
    <!-- Navigation -->
    
    <div id="page-wrapper222">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Quản Trị SmartCheck.Vn Version 2.0</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-barcode fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge" id="cdn"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-shopping-bag fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge" id="cnpp"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-qrcode fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge" id="ctqr"></div>                                
                            </div>
                        </div>
                    </div>                   
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-check fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge" id="ctqrsc"></div>                                 
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">                
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> Lịch sử quét gần nhất
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="table-responsive" style="width:100%;">
                                    <table class="table table-bordered table-hover table-striped" id="getLogDashBoard" style="width:100%;">
                                        <thead>
                                            <tr>
                                                <th>Stt</th>
                                                <th>Thời gian</th>
                                                <th>Địa điểm quét</th>
                                                <th>Doanh nghiệp</th>
                                                <th>Nhà phân phối</th>
                                                <th>Sản phẩm</th>
                                                <th>Khách hàng</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                                <!-- /.table-responsive -->
                            </div>
                            <!-- /.col-lg-4 (nested) -->
                            <div class="col-lg-8">
                                <div id="morris-bar-chart"></div>
                            </div>
                            <!-- /.col-lg-8 (nested) -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->
</div>
<script>
    function getDashBoard() {
        var type=1;
        if ("@ViewBag.is_admin"!="1"){
            type=0;
        }        
        var url = "/Admin/getDashBoard?type="+type;
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                $.ajax({
                    type: 'GET',
                    url: url,
                    success: function (data) {
                        if (data!="-1"){
                            //alert(data);
                            var json = $.parseJSON(data);
                            //alert(json.length);
                            for (var i = 0; i < json.length; ++i) {
                                //alert(json[i].cdn);
                                if (type==1){
                                    //alert(json[i].cdn);
                                    $("#cdn").html("Số doanh nghiệp "+json[i].cdn);
                                    $("#cnpp").html("Số nhà phân phối "+json[i].cnpp);
                                    $("#ctqr").html("Số tem đã in "+json[i].ctqr);
                                    $("#ctqrsc").html("Số tem đã quét "+json[i].ctqrsc);
                                }else{
                                    //alert(json[i].cdn);
                                    $("#cdn").html("Số khách cài app "+json[i].cdn);
                                    $("#cnpp").html("Số nhà phân phối "+json[i].cnpp);
                                    $("#ctqr").html("Số tem đã in "+json[i].ctqr);
                                    $("#ctqrsc").html("Số tem đã quét "+json[i].ctqrsc);
                                }
                            }
                        }
                    }
                });
            }
        };
        xmlhttp.open("GET", url, true);
        xmlhttp.send();
    }
    getDashBoard();
    function getLogDashBoard() {
        var type="@ViewBag.code_company";
        if (type=="") type=0;
        if ("@ViewBag.is_admin"=="1"){
            type=0;
        }
        var url = "/Admin/getLogDashBoard?code_company="+type;
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                $.ajax({
                    type: 'GET',
                    url: url,
                    success: function (data) {
                        if (data!="-1"){
                            //alert(data);
                            var json = $.parseJSON(data);
                            //alert(json.length);
                            //<th>Stt</th>
                            //<th>Thời gian</th>
                            //<th>Địa điểm quét</th>
                            //<th>Doanh nghiệp</th>
                            //<th>Nhà phân phối</th>
                            //<th>Sản phẩm</th>
                            //<th>Khách hàng</th>
                            var trs="";
                            for (var i = 0; i < json.length; ++i) {
                                trs="<tr>";
                                trs+="<td>"+(i+1)+"</td>";
                                var dates = new Date(json[i].date_time);
                                trs+="<td>"+dates.getDate()+"/"+dates.getMonth()+"/"+dates.getFullYear()+" "+dates.getHours()+" giờ "+dates.getMinutes()+" phút</td>";//+"/"+dates.getMonth()+"/"+dates.getDay()+" "+dates.getTime()+
                                trs+="<td>"+json[i].address+"</td>";
                                trs+="<td>"+json[i].company+"</td>";
                                trs+="<td>"+json[i].partner+"</td>";
                                if (json[i].waranty_text!=null && json[i].waranty_text!="null"){
                                    trs+="<td>"+json[i].waranty_text+"</td>";
                                }else{
                                    trs+="<td>&nbsp;</td>";
                                }
                                if (json[i].waranty_name!=null && json[i].waranty_name!="null"){
                                    trs+="<td>"+json[i].waranty_name+"<br>"+json[i].waranty_phone+"<br>"+json[i].waranty_address+"</td>";
                                }else{
                                    trs+="<td>"+json[i].user_name+"<br>"+json[i].user_email+"<br>"+json[i].user_phone+"</td>";
                                }
                                trs+="</tr>";
                                $("#getLogDashBoard").append(trs);

                            }
                        }
                    }
                });
            }
        };
        xmlhttp.open("GET", url, true);
        xmlhttp.send();
    }
    getLogDashBoard();
</script>