
@{
    ViewBag.Title = "ResetEmail";
    Layout = "~/Views/Shared/_LayoutBlank.cshtml";
}

<h2>Email của chúng tôi đang bảo trì. Chưa thể gửi mật khẩu cho bạn lúc này được. Xin quay lại sau!</h2>

